<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/home">Learn english and german</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item m-auto">
                        <a class="nav-link active" sec:authorize="isAuthenticated()" href="/mojlevel">Мој левел</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/materijali">Материјали за учење англиски</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" href="/materijaligerman">Материјали за учење германски</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" sec:authorize="hasRole('ROLE_ADMINISTRATOR')" href="/kviz/dodadi-prasanje">Додај прашање англиски</a>
                    </li>
                    <li class="nav-item m-auto">
                        <a class="nav-link active" sec:authorize="hasRole('ROLE_ADMINISTRATOR')" href="/kvizgerman/dodadi-prasanje">Додај прашање германски</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3"  href="/logout">
                            <i></i> Одјава
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/login">
                            <i></i> Најава
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="btn btn-light btn-sm ml-3" href="/register">
                            <i></i> Регистрирај се
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>