<div class="w3-content" style="max-width:2000px" xmlns:sec="http://www.w3.org/1999/xhtml">
  <p style="height: 50px"></p>
  <h1 style="font-family: 'Brush Script MT', cursive; text-align: center"><b>LEARN ENGLISH AND GERMAN</b></h1>
  <div class="container">
  <div class="row">
    <div class="col-sm-8 col-lg-6">
      <p style="height: 100px"></p>
      <img src="https://thehande.files.wordpress.com/2012/08/ukgermany.png" style="height: 250px; width: 450px;">
    </div>
    <div class="col-sm-4 col-lg-6">
      <p style="height: 90px"></p>
      <h2>Проширете го вашето знаење</h2>
      <a type="button" class="btn btn-block btn-dark" sec:authorize="!isAuthenticated()" href="/register">Регистрирај се</a>
      <br>
      <p style="height: 55px"></p>
      <h5>Имаш креирано корисничка сметка?</h5>
      <a type="button" class="btn btn-block btn-dark" sec:authorize="!isAuthenticated()" href="/login">Најави се</a>
    </div></div>

  </div>

</div>