<div xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Learn english</h1>
        </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12" th:if="${materijali.size() > 0}">
                <ol th:each="materijali : ${materijali}">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div> <b th:text="${materijali.getNaslov()}"></b></div>
                            <div> <b th:text="${materijali.getOpis()}"></b></div>
                            <div> <a th:href="${materijali.getLink()}">Отвори и учи</a></div>
                        </div>
                        <span>
                              <th:block sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                                    <a th:href="@{'/materijali/edit-form/{id}' (id=${materijali.getId()})}"
                                       class="btn btn-sm btn-info edit-product">
                                        <i class="glyphicon glyphicon-edit">Уреди</i>
                                    </a>
                                </th:block>
                              <th:block sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                                    <form th:action="@{'/materijali/delete/{id}' (id=${materijali.getId()})}"
                                          th:method="DELETE">
                                        <button type="submit"
                                                class="btn btn-sm btn-danger delete-product">
                                            <i class="fa fa-trash">Избриши</i>
                                        </button>
                                    </form>
                                </th:block>
                          </span>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="row">
            <div class="col-sm-12 col-md-12" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
                <a href="/materijali/add-form" class="btn btn-block btn-dark add-product-btn">
                    Додади нов материјал за учење
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4"></div>
        <div class="col-sm-4 col-md-4"><h2 style="text-align: center">Кога ќе научиш реши го тестот</h2>
            <form th:action="@{'/kviz'}"
                  th:method="GET">
                <button style="align-content: center;" type="submit"
                        class="btn btn-block btn-dark btn-primary cart-product">
                    <i>Тест англиски јазик</i>
                </button>
            </form>
        </div>
        <div class="col-sm-4 col-md-4"></div>
    </div>
    <br>
</div>