<div class="w3-content" style="max-width:2000px" xmlns:sec="http://www.w3.org/1999/xhtml">
    <p style="height: 50px"></p>
    <h1 style="font-family: 'Brush Script MT', cursive; text-align: center"><b>LEARN ENGLISH AND GERMAN</b></h1>
    <div class="container">
    <div class="row">
        <div class="col-8 col-lg-6">
            <p style="height: 100px"></p>
            <img src="https://thehande.files.wordpress.com/2012/08/ukgermany.png" style="height: 250px; width: 450px;">
        </div>
        <div class="col-4 col-lg-6">
            <p style="height: 100px"></p>
            <h4>Доколку имате претходно познавање од јазикот кој сакате да го изучувате кликнете на копчето Продолжи</h4>
            <form th:action="@{'/mojlevel/prodolzi'}"
                  th:method="GET">
                <button type="submit"
                        class="btn btn-sm btn-dark cart-product">
                    <i>Продолжи</i>
                </button>
            </form>
        </div>

    </div></div>

</div>