<div class="container">
    <h1 th:if="${hasError}" th:text="${error}"></h1>
</div>
<div class="container">
    <p style="height: 50px"></p>
    <div class="row">
    <form class="col-md-8" method="post" action="/register">
        <h3 class="form-signin-heading">Внеси податоци за да креираш корисничка сметка</h3>
        <p>E-mail
            <label for="username" class="sr-only">Е-mail</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                   autofocus="">
        </p>
        <p>Лозинка
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                   required="">
        </p>
        <p>Лозинка
            <label for="repeatedPassword" class="sr-only">Repeat Password</label>
            <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control"
                   placeholder="Repeat Password" required="">
        </p>
        <p>Име
            <label for="name" class="sr-only">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="" autofocus="">
        </p>
        <p>Презиме
            <label for="surname" class="sr-only">Surname</label>
            <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required=""
                   autofocus="">
        </p>
        <button class="btn btn-lg btn-dark btn-block" type="submit">Регистрирај се</button>
    </form>
    </div>
<!--    <a href="/login" class="btn btn-block btn-light">Already have an account? Login here!</a>-->
</div>