<h3 style="height: 95px"></h3>
<div class="container" style="align-items: center; align-content: center">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <img src="https://thehande.files.wordpress.com/2012/08/ukgermany.png">
            <h2 style="height: 10px"></h2>
            <h3 style="text-align: center" class="text-dark" th:if="${zavrseno}" th:text="${poeni}"></h3></p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>